@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100svh;
    align-items: center;
    justify-content: center;
    background: #E3F2FD;
}

.container {
    height: 95svh;
    width: 97svw;
    padding: 25px 25px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.container.disable .editor-panel,
.container.disable .controls .reset-filter,
.container.disable .controls .save-img {
    opacity: 0.5;
    pointer-events: none;
}

.container h2 {
    margin-top: -8px;
    font-size: 22px;
    font-weight: 500;
}

.container .wrapper {
    display: flex;
    margin: 20px 0;
    min-height: 335px;
    justify-content: space-between;
    gap: 10px;
}

.wrapper .editor-panel {
    padding: 15px 20px;
    width: 345px;
    height: 75svh;
    border-radius: 5px;
    border: 1px solid #ccc;
    order: 2;
    overflow: hidden;
}

.editor-panel .editor-panel-content {
    height: 100%;
    overflow-y: auto;
}

.editor-panel-content .title {
    display: block;
    font-size: 20px;
    margin-bottom: 12px;
}

.editor-panel-content .crop-options {
    margin-bottom: 12px;
}

.editor-panel-content .crop-options .button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.editor-panel-content .crop-options .button-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 2 - 10px);
}

.editor-panel-content .crop-options .rotation-control {
    margin-top: 12px;
}

.editor-panel-content .crop-options .rotation-control .filter-info {
    display: flex;
    color: #464646;
    font-size: 14px;
    justify-content: space-between;
}

.editor-panel-content .crop-options .rotation-control input {
    width: 100%;
    height: 5px;
    accent-color: #21C3D1;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.editor-panel-content button {
    outline: none;
    height: 40px;
    font-size: 14px;
    color: #6C757D;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 8px;
    border: 1px solid #aaa;
}

.editor-panel-content .filter button {
    width: calc(100% / 2 - 4px);
}

.editor-panel-content button:hover {
    background: #f5f5f5;
}

.filter button.active {
    color: #fff;
    border-color: #21C3D1;
    background: #21C3D1;
}

.filter .slider {
    margin-top: 12px;
}

.filter .slider .filter-info {
    display: flex;
    color: #464646;
    font-size: 14px;
    justify-content: space-between;
}

.filter .slider input {
    width: 100%;
    height: 5px;
    accent-color: #21C3D1;
}

.editor-panel-content .rotate {
    margin-top: 17px;
}

.editor-panel-content .rotate button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 3px);
}

.rotate .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rotate .options button:nth-child(3),
.rotate .options button:nth-child(4) {
    font-size: 18px;
}

.rotate .options button:active {
    color: #fff;
    background: #21C3D1;
    border-color: #21C3D1;
}

.editor-panel-content .crop button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 3px);
}

.crop .options button:active {
    color: #fff;
    background: #21C3D1;
    border-color: #21C3D1;
}

.wrapper .preview-img {
    flex-grow: 1;
    display: flex;
    width: 100%;
    max-height: 75svh;
    overflow: hidden;
    border-radius: 5px;
    align-items: top;
    justify-content: center;
    border: 1px solid #ccc;
    order: 1;
}

.preview-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls button {
    padding: 11px 20px;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.controls .reset-filter {
    color: #6C757D;
    border: 1px solid #6C757D;
}

.controls .reset-filter:hover {
    color: #fff;
    background: #6C757D;
}

.controls .choose-img {
    background: #6C757D;
    border: 1px solid #6C757D;
}

.controls .save-img {
    margin-left: 5px;
    background: #ff0000;
    border: 1px solid #ff0000;
}

#confirmCropButton[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

#rotation-slider[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (max-width: 760px) {
    .container {
        padding: 25px;
    }

    .container .wrapper {
        flex-wrap: wrap-reverse;
    }

    .wrapper .editor-panel {
        width: 100%;
    }

    .wrapper .preview-img {
        width: 100%;
        margin: 0 0 15px;
    }
}

@media screen and (max-width: 500px) {
    .controls button {
        width: 100%;
        margin-bottom: 10px;
    }

    .controls .row {
        width: 100%;
    }

    .controls .row .save-img {
        margin-left: 0px;
    }
}